body{
    font-family: "Poppins", sans-serif;
    margin:0px; 
}
h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 7px;
    color: aliceblue;
    font-weight: 700;
}
.why-hire-me{
    background-image: url(images/why-hire-me.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    color: gray;
}
#project-style{
    padding-inline-start: 100px;
}
.project-box{
    box-shadow: 10px 10px 50px; 
    border-radius: 10px;
    height: 60%;
}
.project-section{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-size: 4%;
}
#line-draw-1{
    border-left: 7px solid;
    border-image: linear-gradient(lightSalmon,rgb(247, 227, 54));
    border-image-slice: 1;
}
#draw-line-2{
    border-left: 7px solid;
    border-image: linear-gradient(lightSalmon,rgb(164, 72, 250));
    border-image-slice: 1;
}
footer{
    text-align: center;
}